.datanoticias__buttons {
    display: flex;
    justify-content: center;
    margin: 5vh;
}

.datanoticias__buttons button {
    margin: 0 1vw;
}

.datanoticias__card-buttons{
    display: flex;
    justify-content: center;
    margin: 5vh;
}