

//Colors
$primary: #2f9e59;
$light-green: #9fd59e;
$green: #689b67;
$dark-grey: #363636;
$dark-green: #063117;
$light-grey: #d8d8d8;
$red: #c51818;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;